@import '@/styles/DefaultValueVariable.scss';

.footer {
  width           : 100vwpx;
  height          : 110px;
  margin          : 0 auto;
  display         : flex;
  justify-content : center;
  align-items     : center;

  > span {
    font-size     : $--font-small;
    color         : $--color-gray;
  }
}